@charset "UTF-8";

body {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
}

a {
  text-decoration: none;
  color: black;
}

a:hover {
  text-decoration: none;
}

header h1 a:hover {
  text-decoration: none;
}
