<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>
      {% if page.title %}
        {{ page.title }} &ndash;
      {% endif %}
      {{ site.name }}
    </title>

    <meta name="author" content="{{ site.name }}" />
    <meta name="description" content="{{ site.description }}" />

    <link rel="alternate" type="application/rss+xml" href="/atom.xml" />

    <link rel="stylesheet" href="/css/base.css" type="text/css" media="screen, projection" />
    <link rel="stylesheet" href="/css/pygments.css" type="text/css" />
    <link media="only screen and (max-device-width: 480px)" href="/css/iphone.css" type="text/css" rel="stylesheet" />
    <link media="only screen and (device-width: 768px)" href="/css/iphone.css" type="text/css" rel="stylesheet" />
    <link rel="apple-touch-icon" href="/apple-touch-icon.png" />

    <script type="text/javascript" src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
    <script type="text/javascript" src="/js/application.js"></script>
  </head>

  <body>
    <header>
      <h1><a href="/">@{{ site.github }}</a></h1>
    </header>
    <section class="content">
      {{ content }}
    </section>
    <nav>
      <!-- <section class="name"> -->
      <!--   <a href="/"> -->
      <!--     <span>@{{ site.github }}</span> -->
      <!--   </a> -->
      <!-- </section> -->
      <section class="meta">
        <a href="https://github.com/{{ site.github }}" target="_blank">github</a>
        <a href="https://twitter.com/{{ site.twitter }}" target="_blank">twitter</a>
        <a href="https://instagram.com/{{ site.instagram }}" target="_blank">instagram</a>
        <a href="mailto:" class="js-base64-email" data-base64-email="{{ site.email_base64 }}">contact</a>
        <!-- <a href="/atom.xml"><img src="/images/rss.png" /></a> -->
      </section>
      <!-- <section class="sections"> -->
      <!--   <ul> -->
      <!--     <li><a href="/posts.html">posts</a></li> -->
      <!--   </ul> -->
      <!-- </section> -->
    </nav>
  </body>
</html>
